[package]
name = "cargo-bolero"
version = "0.9.0"
authors = ["Cameron Bytheway <bytheway.cameron@gmail.com>"]
description = "cargo command for running bolero fuzz tests"
homepage = "https://github.com/camshaft/bolero"
repository = "https://github.com/camshaft/bolero"
keywords = ["testing", "quickcheck", "property", "fuzz", "fuzzing"]
license = "MIT"
edition = "2018"
readme = "README.md"
rust-version = "1.66.0"

[features]
default = ["afl", "libfuzzer", "kani"]
afl = ["bolero-afl"]
honggfuzz = ["bolero-honggfuzz"]
kani = []
libfuzzer = []

[dependencies]
anyhow = "1.0"
bit-set = "0.5"
bolero-afl = { version = "0.9", path = "../../lib/bolero-afl", default-features = false, features = ["bin"], optional = true }
bolero-honggfuzz = { version = "0.9", path = "../../lib/bolero-honggfuzz", default-features = false, features = ["bin"], optional = true }
cargo_metadata = "0.18"
humantime = "2"
lazy_static = "1"
rustc_version = "0.4"
structopt = "0.3"
serde = { version = "1.0", features = ["derive"] }
serde_json = "1.0"
tar = "0.4"
tempfile = "3"

[dev-dependencies]
bolero = { version = "0.9", path = "../../lib/bolero" }

[[test]]
name = "fuzz_bytes"
path = "tests/fuzz_bytes/fuzz_target.rs"
harness = false

[[test]]
name = "fuzz_generator"
path = "tests/fuzz_generator/fuzz_target.rs"
harness = false

