name: book

on:
  push:
    branches:
      - master

jobs:
  build-deploy:
    runs-on: ubuntu-20.04
    permissions:
      contents: write
    steps:
      - name: Checkout
        uses: actions/checkout@v4.1.1

      - name: Setup mdBook
        uses: peaceiris/actions-mdbook@v1.2.0
        with:
          mdbook-version: '0.3.5'

      - run: mdbook build book

      - name: Build and Deploy
        uses: JamesIves/github-pages-deploy-action@v4.6.1
        with:
          folder: target/book
